button {
    cursor:pointer; !important;
}

/*navBar buttons*/
.navButton {
    background-color: transparent;
    color: white;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
}
.navButton:hover {
    background: #2e3335;
    color: #8FC800;
}
.navIcon {
    margin: 0px;
    /*height: 45px;*/
    width: 45px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    display: inline-block;
    object-fit: cover;
    /*background-image: url("../images/icons/default_pro_icon.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
}
.navUserIcon {
    margin: 7.5px 0 7.5px 0;
    height: 45px;
    width: 45px;
    /*padding-top: 7.5px;*/
    /*padding-bottom: 7.5px;*/
    display: inline-block;
    object-fit: cover;
    background-image: url("../images/icons/default_pro_icon.png");
    background-position: center;
    background-size: cover;
}
.navLogo {
    z-index: 5000;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height: 90px;
    width: 108px;
    background: url(../images/Comic_Squeeze_108x90.png) no-repeat;
}
.tagBtn {
    width: fit-content;
    background-color: #d7dde5;
    margin: -3px 3px 5px 3px;
    font-size: 18px;
}
.tagBtn:hover {
    background-color: #c7ccd4;
    border: 1px solid red;
}

.button-as-link {
    text-decoration: none;
}

.arrow {
    height: 50px;
    width: 50px;
}

.no-link {
    color: black;
    text-decoration: none;
}

.series-title-link {
    overflow-wrap: break-word;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}
.series-title-link:hover {
    background: #ecffd7;
    padding: 8px 0 8px 0;
    /*font-size: 24px;*/
}

/*other buttons*/
.lime-button {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #8FC800;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}
.lime-button:hover {
    background: #75a300;
    text-decoration: none;
}
.red-button {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #C8002B;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}
.red-button:hover {
    background: #820022;
    text-decoration: none;
}
input[type="file"] {
    display: none;
}
.lime-button-file {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #8FC800;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    margin-right: 30px;
    font-weight: normal;
    margin-bottom: 0;
}
.lime-button-file:hover {
    background: #75a300;
    text-decoration: none;
}

.lime-button-solo {
    overflow-wrap: break-word;
     color: #ffffff;
     font-size: 20px;
     background: #8FC800;
     padding: 10px 20px 10px 20px;
     border: solid #000000 2px;
     text-decoration: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
.lime-button-solo:hover {
    background: #75a300;
    text-decoration: none;
}
.lime-button-left {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #8FC800;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: fit-content;
}
.lime-button-left:hover {
    background: #75a300;
    text-decoration: none;
}
.red-button-left {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #C8002B;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: fit-content;
}
.red-button-left:hover {
    background: #820022;
    text-decoration: none;
}

.grey-button-left {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #9a9a9a;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: fit-content;
}
.grey-button-left:hover {
    background: #707070;
    text-decoration: none;
}
/*.grey-button-left-flag {*/
    /*overflow-wrap: break-word;*/
    /*color: #ffffff;*/
    /*font-size: 20px;*/
    /*background-color: #9a9a9a;*/
    /*padding: 10px 20px 10px 20px;*/
    /*border: solid #000000 2px;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*margin-top: 20px;*/
    /*width: fit-content;*/
    /*background-image: url("../images/icons/flag_icon_white.png");*/
/*}*/
/*.grey-button-left-flag:hover {*/
    /*background: #707070;*/
    /*text-decoration: none;*/
/*}*/
.grey-button-solo {
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 20px;
    background: #9a9a9a;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grey-button-solo:hover {
    background: #707070;
    text-decoration: none;
}


