.column-left {
    float: left;
    width: 30%;
}
.column-right {
    float: left;
    width: 70%;
    padding-left: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

.top-artist {
    border-radius: 50%;
    height: 144px;
    width: 144px;
    border: solid #000000 2px;
    object-fit: cover;
}

.issue {
    max-width: 180px;
}