img {
    max-width: 100%;
    height: auto;
}

.issue_pages {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.issue-page {
    max-width: 180px;
    padding-right: 3px;
    border: 1px solid #d0d0d0;
    margin: auto;
}

.page-option {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding-right: 5px;
    padding-top: 3px;
}

.comment-header-item {
    width: 20px;
    height: 20px;
    padding-right: 15px;
}

.arrow {
    height: 50px;
    width: 50px;
}

.lime {
    width: 30px;
    height: 30px;
    padding-right: 5px;
    margin-top: 5px;
}
.lime-small {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.subtext {
    color: #555555;
}
.upvote-text {
    color: #8FC800;
    padding-right: 15px;
}
.no-upvote-text {
    color: #555555;
    padding-right: 15px;
}
.downvote-text {
    color: #5d5476;
    padding-right: 15px;
}
.no-downvote-text {
    color: #555555;
    padding-right: 15px;
}
