.column-left {
    float: left;
    width: 60%;
}
.column-right {
    float: left;
    width: 40%;
    padding-left: 30px;
}

img {
    max-width: 100%;
    height: auto;
}
input {
    width: 100%;
    padding: 10px 15px;
    box-sizing : border-box;
    font-size:20px;
}
.form-wrapper .field-list .field .field-element{
    font-size:20px;
}

.right-content {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.upload-icon {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid #000000 2px;
    background-image: url("../images/icons/default_pro_icon.png");
    background-position: center;
    background-size: cover;
}