.column-left {
    float: left;
    width: 60%;
}
.column-right {
    float: left;
    width: 40%;
    padding-left: 30px;
}

.seriesResultsList{
    max-height: 600px;
    overflow: auto;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
input {
    width: 100%;
    padding: 10px 15px;
    box-sizing : border-box;
    font-size:20px;
}
select {
    width: 30%;
    padding: 16px 20px;
    border: solid #75a300 2px;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size:20px;
}