<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>CreatePage</title>

    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/register_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a th:href="@{/}" class="navLogo"></a>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Create Page</h1>

            <iframe src="muro.html?width=1920&height=1080" style="width: 100%; height: auto;"></iframe>

            <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                <a class="button-as-link" style="width: fit-content; margin: 0">
                    <button class="lime-button-left">CREATE</button>
                </a>
                <a th:href="@{/}" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                    <button class="grey-button-left">CANCEL</button>
                </a>
            </div>

            <br><br>

        </main>

        <aside class="sidebar sidebarLeft" style="width: 10%"></aside>
        <aside class="sidebar sidebarRight" style="width: 10%"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>