<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>CreatePage</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script th:if="${curMember?.getCurrentSeries() != null} and ${curMember?.getCurrentIssue() != null}">
        // <!-- Adds thymeleaf session description as a global variable to be used in external JS files -->
        const curSeriesUsername = "[[${curMember.getCurrentSeries().getUsername()}]]";
        const curSeriesTitle = "[[${curMember.getCurrentSeries().getTitle()}]]";
        const curIssueTitle = "[[${curMember.getCurrentIssue().getTitle()}]]";
    </script>
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src ="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <script src = "js/uploadData.js" th:src="@{/js/uploadData.js}"></script>
    <script src = "js/download.js" th:src="@{/js/download.js}"></script>
    <script src="js/navBar.js" th:src="@{/js/navBar.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}"rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}"rel="stylesheet">
    <link href="css/register_main_styles.css" th:href="@{/css/register_main_styles.css}"rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">
    <link href="../css/literallycanvas.css" th:href="@{/css/literallycanvas.css}" rel="stylesheet">

    <!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js" ></script>

    <!-- Literally Canvas -->
    <script src="js/literallycanvas.js" th:src="@{/js/literallycanvas.js}" ></script>

    <style type="text/css">
        .fs-container {
            /*width: 663px;*/
            height: 900px;
            margin: auto;
        }
    </style>

</head>

<body style="margin: 0px">
<!--
HERE WE HAVE A BOOLEAN THAT DETERMINES IF WERE EDITING A PAGE
-->
<script> var edit = null;</script>
<script th:if="${editNumber}!=null"> edit = "[[${editNumber}]]" </script>
<!--
HERE WE HAVE A BOOLEAN THAT DETERMINES IF WERE CREATING A WEEKLY CONTRIBUTION
-->
<script>var weekly = false</script>
<!--
IF WE ARE CREATING A WEEKLY CONTRIBUTION THEN SET THE APPROPRIATE VARIABLES FOR IT
-->
<script th:if="${session.curMember?.getCurrentSeries()?.getTitle()} == null">
    weekly = true;
    var weeklyUsername = "[[${session.curMember.getUsername()}]]"
    var issueTitle = "[[${session.weeklyComic.getIssueTitle()}]]"
    var pageNum = "[[${session.weeklyComic.getPages()}]]"
</script>

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <!--<a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">-->
                <!--<img src="images/icons/notification_icon.png" title="Notifications" th:src="@{/images/icons/notification_icon.png}" class="navIcon">-->
            <!--</a>-->
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" title="Browse" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main" style="max-width: none">
            <h1>Create Page</h1>

            <!--<iframe src="https://www.photopea.com?rnd=167753414#%7B%22files%22:%5B%22https://www.photopea.com/api/img/pug.png%22%5D,%22environment%22:%7B%7D%7D"-->
                    <!--id="pp" style="border:none; width:100%; height:900px;"></iframe>-->

            <div class="fs-container">
                <div id="lc" style="height: 900px; border: 1px solid black"></div>
            </div>
            <!--
            ONLY SET  THESE VARIABLES IF WE ARE CREATING A PAGE ON A USERS PROFILE
            WE NEED DIFFERENT VARIABLES FOR CREATE PAGE ON WEEKLY CONTRIBUTION
            -->
            <script th:if="${session.curMember?.getCurrentSeries()?.getTitle()} != null">
                // getting current series and issue that the user is under in heirarchy
                //var username = "[[${session.curMember.getUsername()}]]"
                var username = "[[${session.curMember.getCurrentSeries().getUsername()}]]"
                var currentSeries = "[[${session.curMember.getCurrentSeries().getTitle()}]]"
                var currentIssue = "[[${session.curMember.getCurrentIssue().getTitle()}]]"
                var pageNumber = "[[${session.curMember.getCurrentIssue().getPagecount()}]]"
                pageNumber = parseInt(pageNumber,10);
                console.log(pageNumber);
                console.log(edit);
            </script>
            <script type="text/javascript" th:inline="javascript" >

                // initialize the page creator
                var lc = LC.init(document.getElementById("lc"), {
                    imageURLPrefix: '../../../images/img',
                    toolbarPosition: 'bottom',
                    defaultStrokeWidth: 2,
                    strokeWidths: [1, 2, 3, 5, 30],
                    imageSize: {width: 700, height: 950},
                    backgroundColor: 'white',
                    tools: [LC.tools.Pencil, LC.tools.Eraser, LC.tools.Line, LC.tools.Rectangle, LC.tools.Ellipse, LC.tools.Text,
                        LC.tools.Polygon, LC.tools.Pan, LC.tools.Eyedropper, LC.tools.SelectShape]
                });
                // this stuff gets the last created thing and puts it on the canvas
                // if a user clicked on edit for a page then we return the contents of the page that
                //edit was clicked on

                // IF WE ARE NOT DOING WEEKLY CONTRIBUTION THEN RETRIEVE LOCAL STORAGE
                if(weekly === false) {
                    var localStorageKey = 'drawing';
                    if (localStorage.getItem(localStorageKey)) {
                        if (edit !== null) {
                            retrieveJSONFromFirebase(username, currentSeries, currentIssue, edit, lc);
                        }
                        else {
                            console.log(localStorage.getItem(localStorageKey));
                            lc.loadSnapshot(JSON.parse(localStorage.getItem(localStorageKey)));
                        }
                    }
                        lc.on('drawingChange', function () {
                            localStorage.setItem(localStorageKey, JSON.stringify(lc.getSnapshot()));
                        });

                }
                // send the json of the cnavas to firebase to be uploaded back on edit
                function returnJSON() {
                    var pagedata = JSON.stringify(lc.getSnapshot());
                    //upload this data to fire base under the current data heirarchy and user id
                    if (edit !== null) {
                        // IF WE ARE EDITING AND NOT ON WEEKLY
                        if (weekly === false) {
                            uploadJSONtoFirebase(username, currentSeries, currentIssue, edit, pagedata);
                        }
                    }
                    else {
                        // IF WE ARE NOT MAKING A WEEKLY CONT UPLOAD THE JSON TO BE RETURNED LATER
                        if (weekly === false) {
                            uploadJSONtoFirebase(username, currentSeries, currentIssue, pageNumber, pagedata);
                        }
                    }

                };

                // gets PNG of drawing (tied to button in form below)
                function exportPNG() {
                    console.log("export png");
                    // window.open(lc.getImage().toDataURL());
                    download(lc.getImage().toDataURL(), "comic_page.png", "image/png");
                    // var pagePNG = lc.getImage();
                };

                function passLoadValues() {
                    // just for testing
                    loadImage(lc.getImage().toDataURL(), "myImg");
                }
                function loadImage(img_b64, elemID) {
                    var png = img_b64.split(',')[1];

                    var the_file = new Blob([window.atob(png)],  {type: 'image/png', encoding: 'utf-8'});


                    var fr = new FileReader();
            fr.onload = function ( oFREvent ) {
            var v = oFREvent.target.result.split(',')[1]; // encoding is messed up here, so we fix it
            v = atob(v);
            var good_b64 = btoa(decodeURIComponent(escape(v)));
            var img = "data:image/png;base64," + good_b64;

            if(edit){
                // IF EDITING DO EDIT PAGE IN DB
                if(weekly===false) {
                    console.log(edit);
                    returnJSON();
                    editPagetoDB(username, currentSeries, currentIssue, edit, img);
                }
            }
            else {
                if(weekly===false) {
                    // IF NOT EDITING AND NOT WEEKLY DO UPLOAD NORMAL PAGE
                    returnJSON();
                    uploadPagetoDB(username, currentSeries, currentIssue, pageNumber, img);
                }
                else{
                    // OTHER WISE DO UPLOAD WEEKLY PAGE
                    uploadToWeeklyComic(issueTitle,weeklyUsername,pageNum,img)
                }
            }



            };
            fr.readAsDataURL(the_file);
            }
            </script>
            <script></script>

            <a class="button-as-link" style="width: fit-content; margin: 0">
                <button class="grey-button-left" onclick="exportPNG()">Export as PNG</button>
            </a>
            <!--<img id="myImg" style="height: 200px; width: 80px; object-fit: cover">-->
            <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                <!--<button class="grey-button-left" onclick="passLoadValues()">TEST</button>-->
            <!--</a>-->

            <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                <a class="button-as-link" style="width: fit-content; margin: 0">
                    <button class="lime-button-left" onclick="passLoadValues()">SAVE</button>
                </a>
                <a th:href="@{/}" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                    <button class="grey-button-left">CANCEL</button>
                </a>
            </div>

            <br><br>

        </main>

        <aside class="sidebar sidebarLeft" style="width: 5%; min-width: 5%"></aside>
        <aside class="sidebar sidebarRight" style="width: 5%; min-width: 5%"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <th:block  th:each="notif:${session.notifs}">
                        <div class="flexContainer flexRow" style="margin: auto">
                            <a th:if="${notif.getType()} == 'report' and ${notif.getUsernameto()} == ${session.curMember.getUsername()}" th:href="@{'/'+${notif.getLink()}}" class="notification-item" th:text="'Your Series: ' + ${notif.getSeriesReported()}+ ' has been reported'"> </a>
                            <a th:if="${notif.getType()} == 'report' and ${notif.getUsernameto()} != ${session.curMember.getUsername()}" th:href="@{'/'+${notif.getLink()}}" class="notification-item" th:text="'A Series: ' + ${notif.getSeriesReported()}+ ' has been reported'"> </a>
                            <a th:if="${notif.getType()} == 'group' and ${notif.getUsernameto()} == ${session.curMember.getUsername()}" th:href="@{'/'+${notif.getLink()}}" class = "notification-item" th:text="${notif.getUsername()}+ ' added you to Collab Series ' + ${notif.getSeriesReported()}"></a>
                            <a th:href="@{'/removeNotification?usernameFrom='+${notif.getUsername()}+'&link='+${notif.getLink()}+'&usernameTo='+${notif.getUsernameto()}}" class="page-option" style="color: red" th:if="${notif.getType()} == 'report' or ${notif.getType()}=='group' and ${notif.getUsernameto()} == ${session.curMember.getUsername()}" th:text="X"></a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>