<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>CreatePage</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/signIn.js></script>
    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/register_main_styles.css" rel="stylesheet">
    <link href="../css/literallycanvas.css" rel="stylesheet">

    <!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <!-- Literally Canvas -->
    <script src="js/literallycanvas.js"></script>

    <style type="text/css">
        .fs-container {
            width: 100%;
            margin: auto;
        }
    </style>

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a th:href="@{/}" class="navLogo"></a>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Create Page</h1>

            <div class="fs-container">
                <div id="lc"></div>
            </div>

            <script type="text/javascript">
                var lc = LC.init(document.getElementById("lc"), {
                    imageURLPrefix: 'images/img',
                    toolbarPosition: 'bottom',
                    defaultStrokeWidth: 2,
                    strokeWidths: [1, 2, 3, 5, 30]
                });
            </script>

            <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                <a class="button-as-link" style="width: fit-content; margin: 0">
                    <button class="lime-button-left">CREATE</button>
                </a>
                <a th:href="@{/}" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                    <button class="grey-button-left">CANCEL</button>
                </a>
            </div>

            <br><br>

        </main>

        <aside class="sidebar sidebarLeft" style="width: 5%"></aside>
        <aside class="sidebar sidebarRight" style="width: 5%"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>