<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${session.username} + ' - Your Profile'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
        authDomain: "comicsqueeze.firebaseapp.com",
        databaseURL: "https://comicsqueeze.firebaseio.com",
        projectId: "comicsqueeze",
        storageBucket: "comicsqueeze.appspot.com",
        messagingSenderId: "213405157042"
    };
    firebase.initializeApp(config);
    </script>
    <script>
        // <!-- Adds thymeleaf session.username as a global variable to be used in external JS files -->
    </script>

    <link href="css/owl_carousel.css" rel="stylesheet">
    <link href="css/owl_theme_default.css" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/uploadData.js></script>
    <script src =js/loadImage.js></script>
    <script src="js/navBar.js"></script>
    <script src =js/signIn.js></script>
    <script src =js/ownProfile.js></script>
    <script src="js/owl_carousel.js"></script>
    <script src="slick/slick.js"></script>
    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/currentProfile_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">
    <link href="css/owl_carousel.css" rel="stylesheet">
    <link href="css/owl_theme_default.css" rel="stylesheet">
    <link href="css/owl_theme_green.css" rel="stylesheet">
    <link href="slick/slick.css" rel="stylesheet">
    <link href="slick/slick-theme.css" rel="stylesheet">
    <link href="css/slick-override.css" rel="stylesheet">


</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" onclick="loginClicked()" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">

            <div class="vertical_slick">
                <th:block th:each="series: ${session.curMember.getSeriesArrayList()}">
                    <div class="slickElem" style="height: 400px">
                        <div class="flexContainer flexRow">
                            <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${session.username}, SeriesTitle=${series.getTitle()})}" class="series-title" th:text="${series.getTitle()}"><h1></h1></a>
                        </div>
                        <div class="horizontal_slick left-align-slick">
                            <th:block th:each="issue: ${series.getIssueArrayList()}">
                                <div class="slickElemIssues">
                                    <div class="flexContainer flexColumn" style="align-items: center">
                                        <div th:if="${issue.getImgurl()}==null">
                                            <a class="no-link" th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${session.username}, SeriesTitle=${series.getTitle()},issueTitle=${issue.getTitle()})}">
                                                <div class="issue-blank"></div>
                                            </a>
                                        </div>
                                        <div th:if="${issue.getImgurl()}!=null">
                                            <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${session.username}, SeriesTitle=${series.getTitle()},issueTitle=${issue.getTitle()})}">
                                                <img  th:src="${issue.getImgurl()}" class="issue">
                                            </a>
                                        </div>
                                        <p th:text="${issue.getTitle()}" style="margin: 0; text-align: center">Issue #</p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>

            <br><br><br>

        </main>


        <aside class="sidebar sidebarLeft">
            <div class="profile-info-container">
                <div class="flexContainer flexColumn" style="justify-content: center">
                    <img th:src="${curMember.getImgUrl()}" class="profile_img">
                    <h2 th:text="${session.username}" style="text-align: center"></h2>
                    <p id="bioID" style="margin-top: -15px; overflow-wrap: break-word; white-space: pre-wrap" th:text="${curMember.getBio()}"></p>
                    <!--<h3 style="text-align: center"># Followers</h3>-->
                    <!--<a class="button-as-link">-->
                    <h3 th:text="'Follows: ' + ${subscriptionCount}" style="text-align: center"></h3>
                    <!--<a class="button-as-link" href="#subscriptions-modal-container" data-reveal-id="exampleModal">-->
                    <button class="lime-button-solo" onclick="followingClicked()">FOLLOWING</button>
                    <br>
                    <button class="lime-button-solo" onclick="collabSeriesClicked()">Collab Series</button>
                    <!--</a>-->
                    <br>
                    <!--<a class="button-as-link" href="#create-series-modal-container" data-reveal-id="exampleModal">-->
                    <button class="lime-button-solo" onclick="createSeriesClicked()">CREATE SERIES</button>
                    <!--</a>-->
                </div>
            </div>
            <!--<a class="button-as-link" href="#edit-profile-modal-container" data-reveal-id="exampleModal">-->
                <button class="grey-button-left" onclick="editProfileClicked()">EDIT</button>
            <!--</a>-->
        </aside>
        <aside class="sidebar sidebarRight" style="min-width: 0"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <p class="notification-item">USERNAME has released a new comic series</p>
                    <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                    <p class="notification-item">New Follower: USERNAME</p>
                    <p class="notification-item">SeriesName has been flagged.</p>
                    <p class="notification-item">USERNAME has released a new comic series</p>
                </div>
            </div>
        </div>
    </div>

    <!--Subscriptions Popup-->
    <div id="subscriptions" class="modal">
        <div id="subscriptions-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <div class="flexContainer flexRow" style="justify-content: space-between;">
                    <h2 style="margin: 0">Followed Series</h2>
                    <a class="button-as-link" style="width: fit-content; margin: 0; float: right;">
                        <button class="grey-button-left" onclick="closeFollowing()" style="margin: 0">CLOSE</button>
                    </a>
                </div>
                <div class="subscriptions_slick">
                    <th:block th:each="subscription: ${subscriptions}">
                        <div class="flexColumn series-title-link" style="align-items: center; text-align: center;">
                            <a style="width: fit-content">
                                <img src="https://via.placeholder.com/140x240" class="issue" style="margin: auto;">
                            </a>
                            <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${subscription.getSeriesCreator()}, SeriesTitle=${subscription.getSeriesTitle()})}" class="no-link" style="width: fit-content">
                                <h4 th:text="${subscription.getSeriesTitle()}" style="margin: 5px 0 0 0;"></h4>
                            </a>
                            <a th:href="@{/viewprofile/{profile}(profile=${subscription.getSeriesCreator()})}" class="subtext" style="width: fit-content">
                                <h4 th:text="${subscription.getSeriesCreator()}" style="margin: 5px 0 5px 0;"></h4>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!--Collaborative Series Popup-->
    <div id="collabSeries" class="modal">
        <div id="collabSeries-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <div class="flexContainer flexRow" style="justify-content: space-between;">
                    <h2 style="margin: 0">COLLABORATIVE SERIES</h2>
                    <a class="button-as-link" style="width: fit-content; margin: 0; float: right;">
                        <button class="grey-button-left" onclick="closeCollabSeries()" style="margin: 0">CLOSE</button>
                    </a>
                </div>
                <div class="subscriptions_slick">
                    <!--<th:block th:each="subscription: ${subscriptions}">-->
                        <!--<div class="flexColumn series-title-link" style="align-items: center; text-align: center;">-->
                            <!--<a style="width: fit-content">-->
                                <!--<img src="https://via.placeholder.com/140x240" class="issue" style="margin: auto;">-->
                            <!--</a>-->
                            <!--<a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${subscription.getSeriesCreator()}, SeriesTitle=${subscription.getSeriesTitle()})}" class="no-link" style="width: fit-content">-->
                                <!--<h4 th:text="${subscription.getSeriesTitle()}" style="margin: 5px 0 0 0;"></h4>-->
                            <!--</a>-->
                            <!--<a th:href="@{/viewprofile/{profile}(profile=${subscription.getSeriesCreator()})}" class="subtext" style="width: fit-content">-->
                                <!--<h4 th:text="${subscription.getSeriesCreator()}" style="margin: 5px 0 5px 0;"></h4>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</th:block>-->
                </div>
            </div>
        </div>
    </div>

    <!--Edit Profile Popup-->
    <div id="edit-profile" class="modal">
        <div id="edit-profile-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <div class="flexContainer flexRow">
                    <div class="column-left">
                        <form>
                            Email:
                            <br>
                            <p th:text="${curMember.getEmail()}"></p>
                            <br>
                            <a href="javascript:sendPasswordResetFromLink();"> Send Reset Password Email</a><br><br>
                            BIO: <img src="images/icons/edit_icon.png" style="height: 20px; width: 20px">
                            <br>
                            <textarea id="bioField" class="input-large"></textarea>
                            <br><br>
                        </form>
                        <br>
                    </div>
                    <div class="column-right">
                        <div class="flexContainer flexColumn right-content">
                            <img id = "profPic" th:src="${curMember.getImgUrl()}" class="upload-icon">
                            <progress value="0" max="100" id="uploader" style="
                                -webkit-appearance: none;
                                width: 100%;
                                margin-top: 3%;
                            ">0%</progress>
                            <!--When successful, routes back to FrontPage-->

                            <input id = "file" name = "file" type="file" value="UPLOAD" onchange="updateProfilePic()" class="lime-button-solo" style="margin-top: 30px; float: bottom; display: block;">

                        </div>
                    </div>
                </div>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                        <button class="lime-button-left" onclick=updateBio()>SAVE</button>
                    <!--</a>-->
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick="closeEditProfile()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Create Series Popup-->
    <div id="create-series" class="modal">
        <div id="create-series-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <h2 style="margin-top: 0">Create Series</h2>
                <form id="seriesForm">
                    Title: <input id="titleField" class="input-small" type="text" name="Title"><br><br>
                    Description: <textarea id="descField" class="input-large" type="text" name="Description"></textarea><br><br>
                    <!--Tags: <textarea id="tagField" class="input-mid" type="text" name="Tags"></textarea><br><br>-->
                </form>
                <form id="tagsForm">
                    <!-- tag buttons go here -->
                </form>
                <input id="tagField" class="input-small" type="text" name="Tag" placeholder="Tag Name:">
                <button id="btn" class="grey-button-left" type="button" style="margin-top: 5px; margin-bottom: 20px">Add Tag</button>
                <!-- used for dynamically adding tags -->
                <script type="text/javascript">
                    (function() {
                        var counter = 0;
                        var btn = document.getElementById('btn');
                        var form = document.getElementById('tagsForm');
                        var addButton = function() {
                            var tagName = document.getElementById('tagField').value;
                            if(tagName == "" || tagName == null){
                                alert("Please enter a tag name.");
                                return false;
                            }
                            // done first in case of duplicate tags
                            if (addTag(tagName) == 0){
                                alert("There cannot be duplicate tags.");
                                return false;
                            }
                            counter++;
                            var tagButton = document.createElement("button");
                            tagButton.id = 'tag' + counter;
                            tagButton.innerText = tagName;
                            tagButton.classList.add("tagBtn");
                            tagButton.addEventListener('click', function(){
                                deleteTag(tagButton);
                            });
                            form.appendChild(tagButton);
                        };
                        btn.addEventListener('click', function() {
                            addButton();
                        }.bind(this));
                    })();
                </script>
                <h3 style="margin: 0">Series Mode</h3>
                <select id="seriesMode" name="seriesMode">
                    <option value="individual">Individual</option>
                    <option value="group">Group Collaboration</option>
                </select>
                <br>
                <div class="flexContainer flexColumn" style="margin-top: 10px">
                    <form id="inviteForm">
                        <!-- tag buttons go here -->
                    </form>
                    <h3 id="inviteLabel" style="margin: 10px 0 0 0; padding-right: 20px; display: none">Invite</h3>
                    <div class="flexContainer flexRow" style="align-items: center;">
                        <form style="padding-top: 15px; padding-right: 20px;">
                            <input class="input-small" id="inviteField" type="text" name="invite" style="display: none"><br><br>
                        </form>
                        <a style="margin: 0">
                            <button id="inviteBtn" type="button" style="display: none">
                                <img src="images/icons/add_user_icon.png" style="margin: 0; height: 30px; width: 30px">
                            </button>
                        </a>
                    </div>
                </div>
                <div class="flexContainer flexRow" style="justify-content: space-between;">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                        <button class="lime-button-left" onclick=createSeries()>CREATE</button>
                    <!--</a>-->
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick="closeCreateSeries()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="sign-In" class="modal-login">
        <div id="signIn-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <div class="flexContainer flexRow">
                    <input type="checkbox" onclick="showPass()" style="padding-right: 5px; width: fit-content;">
                    Show Password
                </div>

                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                    <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    <!--</a>-->
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button  class="grey-button-left" onclick="closeLogin()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>