<!DOCTYPE html>
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>CurrentUserProfile</title>

    <link href="page_layout.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="frontPage_main_styles.css" rel="stylesheet">
    <link href="currentProfile_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a href="CurrentUserProfile.html" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a href="FrontPage.html" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a href="Search.html" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a href="Register.html" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <div class="flexContainer flexRow">
                <a href="SeriesPage.html" style="color: black;"><h1>Series Name</h1></a>
            </div>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>

            <br><br>

            <div class="flexContainer flexRow">
                <a href="SeriesPage.html" style="color: black;"><h1>Series Name</h1></a>
            </div>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft">
            <div class="profile-info-container">
                <div class="flexContainer flexColumn" style="justify-content: center">
                    <img src="images/icons/default_pro_icon.png" class="profile_img">
                    <h2 style="text-align: center">Username</h2>
                    <p style="margin-top: -15px">Bio - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    <h3 style="text-align: center"># Followers</h3>
                    <button class="lime-button-solo">SUBSCRIPTIONS</button> <br>
                    <button class="lime-button-solo">CREATE SERIES</button>
                </div>
            </div>
            <button class="grey-button-left">EDIT</button>
        </aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>