<!DOCTYPE html>
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>FrontPage</title>

    <link href="page_layout.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="frontPage_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 18%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a href="#" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a href="#" class="navLogo"></a>
        <div style="float: right; padding-right: 18%;">
            <a href="#" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a href="#" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Weekly Collaborative Comic</h1>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <img src="images/EXAMPLE.jpg" style="size: auto">
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <h3>Guidelines:</h3>
                        <p>Genre: Action, Superhero</p>
                        <p>Story so far:</p>
                        <p>Bruce Wayne is having dinner with his girlfriend Jezebel Jet. She is beginning to get upset with all his disappearances.
                            She wants to know what he's hiding from her. Their dinner and discussion is interrupted when the Fiend with Nine Eyes arrives...</p>
                        <h4>Vote on, or submit, a page to continue the story.</h4>
                        <div class="flexContainer flexRow" style="justify-content: space-evenly; padding-top: 20px;">
                            <button class="lime-button">PAST COMICS</button>
                            <button class="lime-button">VOTE ON PAGE</button>
                            <button class="lime-button">CREATE PAGE</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h1>Top Artists</h1>
            <div class="flexContainer flexRow" style="justify-content: space-evenly">
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="#"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="#"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="#"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="#"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="#"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
            </div>

            <br>

            <h1>Featured Issues</h1>
            <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>