<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <title>FrontPage</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/signIn.js></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/signIn.js></script>
    <script src="js/navBar.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/frontPage.js"></script>
    <script src="slick/slick.js"></script>
    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">
    <link href="css/series_main_styles.css" rel="stylesheet">
    <link href="slick/slick.css" rel="stylesheet">
    <link href="slick/slick-theme.css" rel="stylesheet">
    <link href="css/slick-override.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <script src="js/uploadData.js" th:src="@{/js/uploadData.js}"></script>

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" onclick="loginClicked()" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main" style="max-width: 65%">
            <h1>Weekly Collaborative Comic</h1>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <img th:src="${session.weeklyComic.getImgUrl()}" src="images/EXAMPLE.jpg" style="size: auto">
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <p>Story so far:</p>
                        <p th:text="${session.weeklyComic.getDescription()}">Bruce Wayne is having dinner with his girlfriend Jezebel Jet. She is beginning to get upset with all his disappearances.
                            She wants to know what he's hiding from her. Their dinner and discussion is interrupted when the Fiend with Nine Eyes arrives...</p>
                        <p th:if="${session.username}==null">Log in to:</p>
                        <h4 style="margin-top: 0">Vote on, or submit, a page to continue the story.</h4>
                        <div class="flexContainer flexRow" style="justify-content: space-evenly; padding-top: 20px;">
                            <!--<a class="button-as-link" href="#past-comics-modal-container" data-reveal-id="exampleModal">-->
                                <button class="lime-button" onclick="pastWeeklyClicked()">PAST COMICS</button>
                            <!--</a>-->
                            <!--<a th:if="${session.username}!=null" id="votePageBtn" class="button-as-link" href="#vote-modal-container" data-reveal-id="exampleModal">-->
                                <button th:if="${session.username}!=null" class="lime-button" onclick="voteClicked()">VOTE ON PAGE</button>
                            <!--</a>-->
                            <a th:if="${session.username}!=null and ${session.curMember.isCreatedWeekly()}==false"  class="button-as-link" th:href="@{/createpage}">
                                <button class="lime-button">CREATE PAGE</button>
                            </a>
                            <div th:if="${session.curMember} != null">
                                <div th:if="${session.curMember.getAdminStatus()} == true">
                                    <button onclick="newWeeklyClicked()" class="red-button">CREATE WEEKLY ISSUE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h1>Top Artists</h1>
            <!--<div class="flexContainer flexRow" style="justify-content: space-evenly">-->
            <div id="topArtists" class="left-align-slick">
                <th:block th:each="user:${topArtists}">
                    <div class="flexContainer flexColumn" style="align-items: center; text-align: center;">
                        <a th:href="@{/viewprofile/{profileID}(profileID=${user.getUsername()})}"><img class="top-artist" th:src="${user.getImgUrl()}" style="margin: auto"></a>
                        <p class="long-span" th:text="${user.getUsername()}" style="font-weight: bold; margin-bottom: 0px;"></p>
                        <p th:text="'Follows: ' + ${user.getFollows()}" style="margin: 0px"></p>
                    </div>
                </th:block>
            </div>
            <!--</div>-->

            <br>

            <h1>Recent Issues</h1>
            <!--<div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">-->
            <div id="recentIssues">
                <th:block th:each="issue:${recentIssues}">
                    <div>
                        <div class="flexContainer flexColumn" style="align-items: center; text-align: center; margin: auto">
                            <div th:if="${issue.getImgurl()}==null">
                                <a class="no-link" th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${issue.getUsername()}, SeriesTitle=${issue.getSeries()},issueTitle=${issue.getTitle()})}" style="margin: auto;">
                                    <div class="issue-blank"></div>
                                </a>
                            </div>
                            <div th:if="${issue.getImgurl()}!=null">
                                <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${issue.getUsername()}, SeriesTitle=${issue.getSeries()},issueTitle=${issue.getTitle()})}" style="margin: auto;">
                                    <img  th:src="${issue.getImgurl()}" class="issue">
                                </a>
                            </div>
                            <p class="long-span" th:text="${issue.getTitle()}" style="font-weight: bold; margin-bottom: 0px;"></p>
                            <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${issue.getUsername()}, SeriesTitle=${issue.getSeries()})}" th:text="${issue.getSeries()}" style="margin-top: 0px; margin-bottom: 0px;" class="subtext long-span"></a>
                            <a th:href="@{/viewprofile/{profileID}(profileID=${issue.getUsername()})}" th:text="${issue.getUsername()}" style="margin-top: 0px; margin-bottom: 30px;" class="subtext long-span"></a>
                        </div>
                    </div>
                </th:block>
            </div>
            <!--</div>-->

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <th:block th:each="notif:${session.notifs}">
                        <a th:href="@{${notif.getLink()}}" class="notification-item"> Your Series has been reported</a>
                        <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                        <p class="notification-item">New Follower: USERNAME</p>
                        <p class="notification-item">SeriesName has been flagged.</p>
                        <p class="notification-item">USERNAME has released a new comic series</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!--Past Comics Popup-->
    <div id="past-comics" class="modal">
        <div id="past-comics-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <h2 style="margin: 0">Past Comics</h2><br><br>
                <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                        <th:block th:each="issue:${weeklyIssues}">
                            <div class="flexContainer flexColumn" style="align-items: center;">
                                <div th:if="${issue.getImgurl()}==null">
                                    <a th:href="@{images/EXAMPLE_3.jpg}" data-lightbox="test"><img class="issue" src="images/EXAMPLE_3.jpg"></a>
                                </div>
                                <div th:if="${issue.getImgurl()}!=null">
                                    <a  th:href="@{${issue.getImgurl()}}" data-lightbox="test" ><img class="issue" th:src="${issue.getImgurl()}"></a>
                                </div>
                                <th:block th:each="page: ${issue.getPages()}">
                                    <a th:href="${page.getImgurl()}" data-lightbox="test" class="issue"></a>
                                </th:block>
                                <p style="font-weight: bold; margin-bottom: 0px;" th:text="${issue.getTitle()}">Issue Title</p>
                                <p style="margin-top: 0px; margin-bottom: 30px;"th:text="${issue.getSeries()}">Series Name</p>
                            </div>
                        </th:block>
                </div>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick="closePastWeekly()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Vote on Page Popup-->
    <div id="vote" class="modal">
        <div id="vote-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <h2 style="margin: 0">Vote</h2><br>
                <div class="horizontal_slick left-align-slick">
                    <th:block th:each="page: ${weeklyContributions}">
                        <div>
                            <div class="flexContainer flexColumn" style="align-items: center">
                                <a th:href="${page.getImgurl()}" data-lightbox="votePages">
                                    <img th:src="${page.getImgurl()}" class="issue" style="margin: auto; border: 1px solid #d0d0d0;">
                                </a>
                                <p class="long-span" th:text="${page.getUsername()}" style="margin-top: 3px; margin-bottom: 3px; text-align: center"></p>
                                <div th:if="${session.curMember}!=null">
                                    <div th:if="${session.curMember.getVoted()} ==false">
                                        <div th:if="${page.getUsername()}!= ${session.curMember.getUsername()}">
                                        <a th:href="@{'castVote?username='+${page.getUsername()}+'&issue='+${page.getIssue()}+'&pagenum='+${page.getPagenumber()}}" class="lime-button-left" style="margin: auto; padding: 5px; font-size: 18px; margin-bottom: 20px">CAST VOTE</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </th:block>
                </div>
                <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button class="grey-button-left" onclick="closeVote()">CANCEL</button>
                <!--</a>-->
            </div>
        </div>
    </div>


    <!--Sign In Popup-->
    <div id="sign-In" class="modal-login">
        <div id="signIn-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <div class="flexContainer flexRow">
                    <input type="checkbox" onclick="showPass()" style="padding-right: 5px; width: fit-content;">
                    Show Password
                </div>

                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    <!--</a>-->
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button  class="grey-button-left" onclick="closeLogin()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--new weekly issue modal-->
    <div id="new-weekly" class="modal">
        <div id="new-weekly-modal" class="modal-inner">
            <div class="flexContainer flexColumn">

                   Issue name: <input id ="weeklyIssueName" class="input-small" type="text" name="issueTitle"><br>
                   Description: <input id ="weeklyIssueDescription"class="input-small" type="text" name="description">
                <label class="lime-button-left"  style="cursor: pointer;">
                    <input id ="uploadWeeklyCover" type="file" accept="image/*" onchange="uploadWeeklyCoverDB()">
                    Issue Cover
                </label>
                <progress value="0" max="100" id="uploaderWeekly" style="
                                -webkit-appearance: none;
                                width: 40%;
                                margin-top: 3%;
                            ">0%</progress>
                <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button  class="grey-button-left" onclick="closeNewWeekly()">CLOSE</button>
                <!--</a>-->
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>