<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>FrontPage</title>

    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">
    <link href="css/series_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a href="CurrentUserProfile.html" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a href="FrontPage.html" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a href="Search.html" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a href="Register.html" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Weekly Collaborative Comic</h1>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <img src="images/EXAMPLE.jpg" style="size: auto">
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <h3>Guidelines:</h3>
                        <p>Genre: Action, Superhero</p>
                        <p>Story so far:</p>
                        <p>Bruce Wayne is having dinner with his girlfriend Jezebel Jet. She is beginning to get upset with all his disappearances.
                            She wants to know what he's hiding from her. Their dinner and discussion is interrupted when the Fiend with Nine Eyes arrives...</p>
                        <h4>Vote on, or submit, a page to continue the story.</h4>
                        <div class="flexContainer flexRow" style="justify-content: space-evenly; padding-top: 20px;">
                            <a class="button-as-link" href="#past-comics-modal-container" data-reveal-id="exampleModal">
                                <button class="lime-button">PAST COMICS</button>
                            </a>
                            <a class="button-as-link" href="#vote-modal-container" data-reveal-id="exampleModal">
                                <button class="lime-button">VOTE ON PAGE</button>
                            </a>
                            <a class="button-as-link" href="CreatePage.html">
                                <button class="lime-button">CREATE PAGE</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h1>Top Artists</h1>
            <div class="flexContainer flexRow" style="justify-content: space-evenly">
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="OtherUserProfile.html"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="OtherUserProfile.html"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="OtherUserProfile.html"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="OtherUserProfile.html"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
                <div class="flexContainer flexColumn" style="align-items: center">
                    <a href="OtherUserProfile.html"><img class="top-artist" src="images/icons/default_pro_icon.png"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Username</p>
                    <p style="margin: 0px"># Followers</p>
                </div>
            </div>

            <br>

            <h1>Featured Issues</h1>
            <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Past Comics Popup-->
    <div id="past-comics-modal-container">
        <div id="past-comics-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <h2 style="margin: 0">Past Comics</h2><br><br>
                <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                    <div class="flexContainer flexColumn issue" style="align-items: center;">
                        <a href="IssuePage.html"><img src="images/EXAMPLE_3.jpg"></a>
                        <p style="font-weight: bold; margin-bottom: 0px;">Issue Title</p>
                        <p style="margin-top: 0px; margin-bottom: 30px;">Series Name</p>
                    </div>
                    <div class="flexContainer flexColumn issue" style="align-items: center;">
                        <a href="IssuePage.html"><img src="images/EXAMPLE_3.jpg"></a>
                        <p style="font-weight: bold; margin-bottom: 0px;">Issue Title</p>
                        <p style="margin-top: 0px; margin-bottom: 30px;">Series Name</p>
                    </div>
                    <div class="flexContainer flexColumn issue" style="align-items: center;">
                        <a href="IssuePage.html"><img src="images/EXAMPLE_3.jpg"></a>
                        <p style="font-weight: bold; margin-bottom: 0px;">Issue Title</p>
                        <p style="margin-top: 0px; margin-bottom: 30px;">Series Name</p>
                    </div>
                    <div class="flexContainer flexColumn issue" style="align-items: center;">
                        <a href="IssuePage.html"><img src="images/EXAMPLE_3.jpg"></a>
                        <p style="font-weight: bold; margin-bottom: 0px;">Issue Title</p>
                        <p style="margin-top: 0px; margin-bottom: 30px;">Series Name</p>
                    </div>
                    <div class="flexContainer flexColumn issue" style="align-items: center;">
                        <a href="IssuePage.html"><img src="images/EXAMPLE_3.jpg"></a>
                        <p style="font-weight: bold; margin-bottom: 0px;">Issue Title</p>
                        <p style="margin-top: 0px; margin-bottom: 30px;">Series Name</p>
                    </div>
                </div>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Vote on Page Popup-->
    <div id="vote-modal-container">
        <div id="vote-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <h2 style="margin: 0">Vote</h2><br>
                <div class="flexContainer flexRow series">
                    <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                    <div class="flexContainer flexColumn">
                        <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Username</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Username</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Username</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Username</p>
                    </div>
                    <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
                </div>
                <br>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">CAST VOTE</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Username: <input class="input-small" type="text" name="userName"><br><br>
                    Password: <input class="input-small" type="text" name="userName">
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SIGN IN</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>