<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>IssuePage</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/signIn.js></script>
    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/issue_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <br>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <img src="images/EXAMPLE_2.jpg" style="size: auto">
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <br>
                        <h1 style="margin: 0">Issue #</h1>
                        <h3 class="subtext" style="margin: 0">Series Name</h3>
                        <a th:href="@{'/viewprofile/' + 'exampleUser'}" class="subtext"><h4 class="subtext" style="margin: 0">By Username</h4></a>
                        <br>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="flexContainer flexRow" style="justify-content: flex-start; padding-top: 20px;">
                <a class="button-as-link" th:href="@{/createpage}">
                    <button class="lime-button" style="margin-right: 30px">CREATE PAGE</button>
                </a>
                <button class="lime-button" style="margin-right: 30px">UPLOAD PAGE</button>
                <button class="lime-button" style="margin-right: 30px">DELETE</button>
                <button class="lime-button" style="margin-right: 30px">SAVE</button>
            </div>
            <br><br>
            <div class="flexContainer flexRow issue_pages">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                    <div class="flexContainer flexRow">
                        <a href="#" class="page-option"><img src="images/icons/edit_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/save_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/trash_icon.png"></a>
                        <h2 class="subtext" style="margin: 0; padding-left: 25%">1</h2>
                    </div>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                    <div class="flexContainer flexRow">
                        <a href="#" class="page-option"><img src="images/icons/edit_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/save_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/trash_icon.png"></a>
                        <h2 class="subtext" style="margin: 0; padding-left: 25%">2</h2>
                    </div>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                    <div class="flexContainer flexRow">
                        <a href="#" class="page-option"><img src="images/icons/edit_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/save_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/trash_icon.png"></a>
                        <h2 class="subtext" style="margin: 0; padding-left: 25%">3</h2>
                    </div>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="#"><img src="images/EXAMPLE_2_PAGE.jpg" class="issue"></a>
                    <div class="flexContainer flexRow">
                        <a href="#" class="page-option"><img src="images/icons/edit_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/save_icon.png"></a>
                        <a href="#" class="page-option"><img src="images/icons/trash_icon.png"></a>
                        <h2 class="subtext" style="margin: 0; padding-left: 25%">4</h2>
                    </div>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>

            <br><br>

            <div class="flexContainer flexRow" style="align-items: center; margin-bottom: 10px">
                <h1 style="margin-right: 20px; margin-bottom: 5px">Comments</h1>
                <a href="#write-comment-modal-container" data-reveal-id="write-comment-modal" class="page-option"><img src="images/icons/edit_icon.png"></a>
            </div>
            <div class="flexContainer flexRow" style="align-items: center; margin-top: 0;">
                <a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>
                <a href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/flag_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/upvote_icon.png"></a>
                <p class="upvote-text">3</p>
                <a href="#" class="comment-header-item"><img src="images/icons/downvote_NONE_icon.png"></a>
                <p class="no-downvote-text">0</p>
            </div>
            <p style="margin-top: -5px">Lorem ipsum dolor sit amet.</p>
            <div class="flexContainer flexRow" style="align-items: center; margin-top: 0; margin-left: 60px">
                <a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>
                <a href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/flag_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/upvote_icon.png"></a>
                <p class="upvote-text">1</p>
                <a href="#" class="comment-header-item"><img src="images/icons/downvote_NONE_icon.png"></a>
                <p class="no-downvote-text">0</p>
            </div>
            <p style="margin-top: -5px; margin-left: 60px">Ut enim ad minim</p>
            <div class="flexContainer flexRow" style="align-items: center; margin-top: 0;">
                <a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>
                <a href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/flag_icon.png"></a>
                <a href="#" class="comment-header-item"><img src="images/icons/upvote_NONE_icon.png"></a>
                <p class="no-upvote-text">0</p>
                <a href="#" class="comment-header-item"><img src="images/icons/downvote_icon.png"></a>
                <p class="downvote-text">1</p>
            </div>
            <p style="margin-top: -5px">Cool.</p>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Write Comment Popup-->
    <div id="write-comment-modal-container">
        <div id="write-comment-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Write Comment: <textarea class="input-large" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SUBMIT</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Write Reply Popup-->
    <div id="write-reply-modal-container">
        <div id="write-reply-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Write Reply: <textarea class="input-large" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SUBMIT</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input id = "passWord" class="input-small" type="text" name="passWord">


                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    </a>
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button  class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>