<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${issueTitle} + ' of ' + ${seriesTitle} + ' by ' + ${profileID} + '- ComicSqueeze'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        var userPageNumber = [];
        var userPageArrayNumber = [];
        var userPagePublished = [];
        var i=0;
    </script>
    <link href="css/owl_carousel.css" th:href="@{/css/owl_carousel.css}" rel="stylesheet">
    <link href="css/owl_theme_default.css" th:href="@{/css/owl_theme_default.css}" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <script src="js/bootstrap-checkbox.js" th:src="@{/js/bootstrap-checkbox.js}" defer></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <script src="js/navBar.js" th:src="@{/js/navBar.js}"></script>
    <script src="js/ownIssue.js" th:src="@{/js/ownIssue.js}"></script>
    <script src="js/owl_carousel.js" th:src="@{/js/owl_carousel.js}"></script>
    <script src="js/lightbox.js" th:src="@{/js/lightbox.js}"></script>
    <script src="slick/slick.js" th:src="@{/slick/slick.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/issue_main_styles.css" th:href="@{/css/issue_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">
    <script src="js/editPage.js" th:src="@{/js/editPage.js}"></script>
    <link href="css/lightbox.css" th:href="@{/css/lightbox.css}" rel="stylesheet">
    <script src="js/editPage.js" th:src="@{/js/editPage.js}"></script>
    <script src="js/uploadData.js" th:src="@{/js/uploadData.js}"></script>
    <link  href="css/lightbox.css"  th:href="@{/css/lightbox.css}" rel="stylesheet">
    <link href="slick/slick.css" th:href="@{/slick/slick.css}" rel="stylesheet">
    <link href="slick/slick-theme.css" th:href="@{/slick/slick-theme.css}" rel="stylesheet">
    <link href="css/slick-override.css" th:href="@{/css/slick-override.css}" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
        }
    </style>

</head>

<body style="margin: 0px">
<script type="text/javascript" th:if= "${session.curMember?.getCurrentSeries()?.getTitle() !=null}" th:inline="javascript">
    // getting current series and issue that the user is under in heirarchy
    var username = [[${session.curMember.getUsername()}]]
    var currentSeries = [[${session.curMember.getCurrentSeries().getTitle()}]]
    var currentIssue = [[${session.curMember.getCurrentIssue().getTitle()}]]
    var pageNumber = [[${session.curMember.getCurrentIssue().getPagecount()}]]
</script>

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}"class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" th:src="@{/images/icons/notification_icon.png}" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" onclick="loginClicked()" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <br>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <img src="images/EXAMPLE_2.jpg" th:src="${issue.getImgurl()}" style="size: auto">
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <br>
                        <h1 style="margin: 0" th:text="${issueTitle}"></h1>
                        <a class="subtext" style="margin: 0" th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${profileID}, SeriesTitle=${seriesTitle})}"><h4 class="subtext" style="margin: 0; font-size: 20px" th:text ="'Series: ' + ${seriesTitle}"></h4></a>
                        <a class="subtext" th:href="@{/viewprofile/{profileID}(profileID=${profileID})}"><h4 class="subtext" style="margin: 0; font-size: 20px" th:text ="'by ' + ${profileID}"></h4></a>
                        <br>
                        <h2>Description</h2>
                        <p th:text="${issue.getDescription()}" style="font-size: 20px; white-space: pre-wrap"></p>
                    </div>
                </div>
            </div>
            <div class="flexContainer flexRow" style="justify-content: flex-start; padding-top: 20px;">
                <a th:if="${session.username == profileID}" class="button-as-link" th:href="@{/createpage}">
                    <button class="lime-button" style="margin-right: 30px">CREATE PAGE</button>
                </a>
                <a th:if="${session.username == profileID}" class="button-as-link" >
                    <a th:href="@{/createissuecover}" class="lime-button" style="margin-right: 30px">CREATE ISSUE COVER</a>
                </a>
                <label class="lime-button-file" th:if="${session.username == profileID}" style="cursor: pointer;">
                    <input id ="uploadIssueCover" type="file" accept="image/*" onChange="uploadIssueCoverDBCustom(username,currentSeries,currentIssue)">
                    UPLOAD COVER
                </label>
                <label class="lime-button-file" th:if="${session.username == profileID}" style="cursor: pointer;">
                    <input id ="uploadPage" type="file" accept="image/*" onChange="uploadPagetoDBCustom(username,currentSeries,currentIssue,pageNumber)">
                    UPLOAD PAGE
                </label>
                <button th:if="${session.username == profileID}" class="lime-button" style="margin-right: 30px" onclick="deleteIssue()">DELETE</button>
                <button th:if="${session.username == profileID}" class="lime-button" style="margin-right: 30px">EDIT</button>
                <button th:if="${session.username == profileID}" class="lime-button" style="margin-right: 30px" onclick="publish()">PUBLISH</button>
            </div>
            <br><br>

            <div class="horizontal_slick left-align-slick">
                <th:block th:each="page: ${pages}">
                    <div th:if="${session.username == profileID or (session.username != profileID and page.isPublished())}" >
                        <div class="slickElemIssues flexContainer flexColumn" style="align-items: center">
                            <script>
                                userPageNumber[i] = "[[${page.getPagenumber()}]]";
                                userPageArrayNumber[i] = "[[${page.getPageArrayNumber()}]]";
                                userPagePublished[i] = "[[${page.isPublished()}]]";
                            </script>
                            <a th:href="${page.getImgurl()}" th:if="${session.username == profileID}" data-lightbox="test" class="issue-page"><img th:src="${page.getImgurl()}"></a>
                            <a th:href="${page.getImgurl()}" th:if="${session.username != profileID and page.isPublished()}" data-lightbox="test1" class="issue-page"><img th:src="${page.getImgurl()}"></a>
                            <div class="flexContainer flexRow" style="margin: auto">
                                <h2 class="subtext" th:if="${session.username == profileID}" style="margin: 0"th:text="${page.getPageArrayNumber()}"></h2>
                                <h2 class="subtext" th:if="${session.username != profileID and page.isPublished()}" style="margin: 0"th:text="${page.getPublishedArrayNumber()}"></h2>
                                <a th:if="${session.username == profileID}" th:href="@{/editPage/{editNum}(editNum=${page.getPagenumber()})}" class="page-option"><img src="images/icons/edit_icon.png" th:src="@{/images/icons/edit_icon.png}"></a>
                                <a th:if="${session.username == profileID}" href="#" class="page-option" th:href = "@{/deletePage/{username}/{seriesTitle}/{issueTitle}/{pageNumber}(username=${curMember.getUsername()}, seriesTitle=${page.getSeries()},issueTitle=${page.getIssue()}, pageNumber =${page.getPagenumber()})}"><img src="images/icons/trash_icon.png" th:src="@{/images/icons/trash_icon.png}"></a>
                                <div th:if="${session.username == profileID and page.isPublished() == true}">
                                    <input class="publish-checkbox" th:value="${page.getPageArrayNumber()}" type="checkbox" data-switch-always checked>
                                </div>
                                <div th:if="${session.username == profileID and page.isPublished() == false}">
                                    <input class="publish-checkbox" th:value="${page.getPageArrayNumber()}" type="checkbox" data-switch-always>
                                </div>
                                <script>
                                    i+=1;
                                </script>
                            </div>
                            <!-- <h2 th:if="${session.username == profileID}" class="subtext" style="margin: 0"th:text="'Publish    ed: ' + ${page.isPublished()}"></h2> -->
                        </div>
                    </div>
                </th:block>
            </div>
            <!--<br><br>-->

            <!--<div class="flexContainer flexRow" style="align-items: center; margin-bottom: 10px">-->
                <!--<h1 style="margin-right: 20px; margin-bottom: 5px">Comments</h1>-->
                <!--<a th:if="${session.username != null}"href="#write-comment-modal-container" data-reveal-id="write-comment-modal" class="page-option"><img src="images/icons/edit_icon.png" th:src="@{/images/icons/edit_icon.png}"></a>-->
            <!--</div>-->
            <!--<div class="flexContainer flexRow" style="align-items: center; margin-top: 0;">-->
                <!--<a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>-->
                <!--<a th:if="${session.username != null}" href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png" th:src="@{/images/icons/reply_icon.png}"></a>-->
                <!--<a th:if="${session.username != null}" href="#" class="comment-header-item"><img src="images/icons/flag_icon.png" th:src="@{/images/icons/flag_icon.png}"></a>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/upvote_icon.png" th:src="@{/images/icons/upvote_icon.png}"></a>-->
                <!--<p class="upvote-text">3</p>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/downvote_NONE_icon.png" th:src="@{/images/icons/downvote_NONE_icon.png}"></a>-->
                <!--<p class="no-downvote-text">0</p>-->
            <!--</div>-->
            <!--<p style="margin-top: -5px; font-size: 20px">Lorem ipsum dolor sit amet.</p>-->
            <!--<div class="flexContainer flexRow" style="align-items: center; margin-top: 0; margin-left: 60px">-->
                <!--<a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>-->
                <!--<a th:if="${session.username != null}" href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png" th:src="@{/images/icons/reply_icon.png}"></a>-->
                <!--<a th:if="${session.username != null}" href="#" class="comment-header-item"><img src="images/icons/flag_icon.png" th:src="@{/images/icons/flag_icon.png}"></a>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/upvote_icon.png" th:src="@{/images/icons/upvote_icon.png}"></a>-->
                <!--<p class="upvote-text">1</p>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/downvote_NONE_icon.png" th:src="@{/images/icons/downvote_NONE_icon.png}"></a>-->
                <!--<p class="no-downvote-text">0</p>-->
            <!--</div>-->
            <!--<p style="margin-top: -5px; margin-left: 60px; font-size: 20px">Ut enim ad minim</p>-->
            <!--<div class="flexContainer flexRow" style="align-items: center; margin-top: 0;">-->
                <!--<a th:href="@{'/viewprofile/' + 'exampleUser'}" style="text-decoration: none"><h3 class="subtext" style="margin-top: 5px; margin-bottom: 5px; padding-right: 15px">Username</h3></a>-->
                <!--<a th:if="${session.username != null}" href="#write-reply-modal-container" data-reveal-id="write-comment-modal" class="comment-header-item"><img src="images/icons/reply_icon.png" th:src="@{/images/icons/reply_icon.png}"></a>-->
                <!--<a th:if="${session.username != null}" href="#" class="comment-header-item"><img src="images/icons/flag_icon.png" th:src="@{/images/icons/flag_icon.png}"></a>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/upvote_NONE_icon.png" th:src="@{/images/icons/upvote_NONE_icon.png}"></a>-->
                <!--<p class="upvote-text">0</p>-->
                <!--<a href="#" class="comment-header-item"><img src="images/icons/downvote_icon.png" th:src="@{/images/icons/downvote_icon.png}"></a>-->
                <!--<p class="no-downvote-text">1</p>-->
            <!--</div>-->
            <!--<p style="margin-top: -5px; font-size: 20px">Cool.</p>-->

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <p class="notification-item">USERNAME has released a new comic series</p>
                    <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                    <p class="notification-item">New Follower: USERNAME</p>
                    <p class="notification-item">SeriesName has been flagged.</p>
                    <p class="notification-item">USERNAME has released a new comic series</p>
                </div>
            </div>
        </div>
    </div>

    <!--Write Comment Popup-->
    <!--<div id="write-comment-modal-container">-->
        <!--<div id="write-comment-modal" class="reveal-modal">-->
            <!--<div class="flexContainer flexColumn">-->
                <!--<form>-->
                    <!--Write Comment: <textarea class="input-large" type="text" name="Description"></textarea><br><br>-->
                <!--</form>-->
                <!--<div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">-->
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                        <!--<button class="lime-button-left">SUBMIT</button>-->
                    <!--</a>-->
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <!--<button class="grey-button-left">CLOSE</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--Write Reply Popup-->
    <!--<div id="write-reply-modal-container">-->
        <!--<div id="write-reply-modal" class="reveal-modal">-->
            <!--<div class="flexContainer flexColumn">-->
                <!--<form>-->
                    <!--Write Reply: <textarea class="input-large" type="text" name="Description"></textarea><br><br>-->
                <!--</form>-->
                <!--<div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">-->
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                        <!--<button class="lime-button-left">SUBMIT</button>-->
                    <!--</a>-->
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <!--<button class="grey-button-left">CLOSE</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--Sign In Popup-->
    <div id="sign-In" class="modal-login">
        <div id="signIn-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <div class="flexContainer flexRow">
                    <input type="checkbox" onclick="showPass()" style="padding-right: 5px; width: fit-content;">
                    Show Password
                </div>

                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                    <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    <!--</a>-->
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button  class="grey-button-left" onclick="closeLogin()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>