<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>OtherUserProfile</title>

    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/currentProfile_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a th:href="@{/currentprof}" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <div class="flexContainer flexRow" style="align-items: center">
                <a th:href="@{/series}" style="color: black;"><h1>Series Name</h1></a>
                <button class="lime-button-left" style="margin-top: 0; margin-left: 20px; padding-left: 20px">SUBSCRIBE</button>
                <a href="#"><img src="images/icons/flag_icon.png" style="width: 30px; height: 30px; padding-left: 20px"></a>
            </div>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>

            <br><br>

            <div class="flexContainer flexRow" style="align-items: center">
                <a th:href="@{/series}" style="color: black;"><h1>Series Name</h1></a>
                <button class="lime-button-left" style="margin-top: 0; margin-left: 20px; padding-left: 20px">SUBSCRIBE</button>
                <a href="#"><img src="images/icons/flag_icon.png" style="width: 30px; height: 30px; padding-left: 20px"></a>
            </div>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft">
            <div class="profile-info-container">
                <div class="flexContainer flexColumn" style="justify-content: center">
                    <img src="images/icons/default_pro_icon.png" class="profile_img">
                    <h2 style="text-align: center">Username</h2>
                    <p style="margin-top: -15px">Bio - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    <h3 style="text-align: center"># Followers</h3>
                    <button class="lime-button-solo">FOLLOW</button>
                </div>
            </div>
        </aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Username: <input class="input-small" type="text" name="userName"><br><br>
                    Password: <input class="input-small" type="text" name="userName">
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SIGN IN</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>