<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${viewMember.getUsername()} + 's Profile - ComicSqueeze'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/currentProfile_main_styles.css" th:href="@{/css/currentProfile_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" th:src="@{/images/icons/notification_icon.png}" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <!--
            <div class="flexContainer flexRow" style="align-items: center">
                <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${profileID}, SeriesTitle=series1)}" style="color: black;"><h1>Series Name</h1></a>
                <button th:if="${session.username}!=null" class="lime-button-left" style="margin-top: 0; margin-left: 20px; padding-left: 20px">SUBSCRIBE</button>
                <a th:if="${session.username}!=null" href="#"><img src="images/icons/flag_icon.png" th:src="@{/images/icons/flag_icon.png}" style="width: 30px; height: 30px; padding-left: 20px"></a>
            </div>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png" th:src="@{/images/icons/left_arrow_icon.png}"></a>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png" th:src="@{/images/icons/right_arrow_icon.png}"></a>
            </div>

            -->
            <!--<br><br>-->

            <th:block th:each="series: ${displayMember.getSeriesArrayList()}">
                <div class="flexContainer flexRow">
                    <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${displayMember.getUsername()}, SeriesTitle=${series.getTitle()})}" style="color: black;display: block; font-size: 2em;margin-block-start: 0.67em;margin-block-end: 0.67em;margin-inline-start: 0px;margin-inline-end: 0px;font-weight: bold;" th:text="${series.getTitle()}"><h1></h1></a>
                </div>
                <div class="flexContainer flexRow series">
                    <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png" th:src="@{/images/icons/left_arrow_icon.png}"></a>
                    <div class="flexContainer flexColumn">
                        <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${displayMember.getUsername()}, SeriesTitle=${series.getTitle()},issueTitle=issue1)}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Issue #</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Issue #</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Issue #</p>
                    </div>
                    <div class="flexContainer flexColumn">
                        <a th:href="@{/issue}"><img src="images/EXAMP LE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                        <p style="margin: -5px; text-align: center">Issue #</p>
                    </div>
                    <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png" th:src="@{/images/icons/right_arrow_icon.png}"></a>
                </div>
            </th:block>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft">
            <div class="profile-info-container">
                <div class="flexContainer flexColumn" style="justify-content: center">
                    <img src="images/icons/default_pro_icon.png" th:src="${viewMember.getImgUrl()}" class="profile_img">
                    <h2 th:text="${profileID}" style="text-align: center"></h2>
                    <p style="margin-top: -15px; overflow-wrap: break-word;" th:text="${viewMember.getBio()}"></p>
                    <h3 style="text-align: center"># Followers</h3>
                    <button th:if="${session.username}!=null" class="lime-button-solo">FOLLOW</button>
                </div>
            </div>
        </aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input id = "passWord" class="input-small" type="text" name="passWord">


                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    </a>
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button  class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>