<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${viewMember.getUsername()} + 's Profile - ComicSqueeze'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <link href="css/owl_carousel.css" th:href="@{/css/owl_carousel.css}" rel="stylesheet">
    <link href="css/owl_theme_default.css" th:href="@{/css/owl_theme_default.css}" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="js/owl_carousel.js" th:src="@{/js/owl_carousel.js}"></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <script src="js/navBar.js" th:src="@{/js/navBar.js}"></script>
    <script src="slick/slick.js" th:src="@{/slick/slick.js}"></script>
    <script src="js/otherProfile.js" th:src="@{/js/otherProfile.js}"></script>
    <script src="js/subscribe.js" th:src="@{/js/subscribe.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/currentProfile_main_styles.css" th:href="@{/css/currentProfile_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">
    <link href="slick/slick.css" th:href="@{/slick/slick.css}" rel="stylesheet">
    <link href="slick/slick-theme.css" th:href="@{/slick/slick-theme.css}" rel="stylesheet">
    <link href="css/slick-override.css" th:href="@{/css/slick-override.css}" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" th:src="@{/images/icons/notification_icon.png}" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">

            <div class="vertical_slick">
                <th:block th:each="series: ${displayMember.getSeriesArrayList()}">
                    <div class="slickElem" style="height: 400px">
                        <div class="flexContainer flexRow">
                            <a th:href="@{/series/{profileID}/{SeriesTitle}(profileID=${displayMember.getUsername()}, SeriesTitle=${series.getTitle()})}" class="series-title" th:text="${series.getTitle()}"><h1></h1></a>
                        </div>
                        <div class="horizontal_slick left-align-slick">
                            <th:block th:each="issue: ${series.getIssueArrayList()}">
                                <div class="slickElemIssues">
                                    <div class="flexContainer flexColumn" style="align-items: center">
                                        <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${profileID}, SeriesTitle=${series.getTitle()},issueTitle=${issue.getTitle()})}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/EXAMPLE_2.jpg}" class="issue"></a>
                                        <p th:text="${issue.getTitle()}" style="margin: 0; text-align: center">Issue #</p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft">
            <div class="profile-info-container">
                <div id="displayInfo" class="flexContainer flexColumn" style="justify-content: center">
                    <img src="images/icons/default_pro_icon.png" th:src="${viewMember.getImgUrl()}" class="profile_img">
                    <h2 id="displayName" th:text="${profileID}" th:value="${profileID}" style="text-align: center"></h2>
                    <p style="margin-top: -15px; overflow-wrap: break-word; white-space: pre-wrap" th:text="${viewMember.getBio()}"></p>
                    <h3 style="text-align: center"># Followers</h3>
                    <button th:if="${session.username}!=null" class="lime-button-solo" onclick="subscribeAll()">FOLLOW ALL</button><br>
                    <button th:if="${session.username}!=null" class="grey-button-solo" onclick="unsubscribeAll()">UNFOLLOW ALL</button>
                </div>
            </div>
        </aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <p class="notification-item">USERNAME has released a new comic series</p>
                    <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                    <p class="notification-item">New Follower: USERNAME</p>
                    <p class="notification-item">SeriesName has been flagged.</p>
                    <p class="notification-item">USERNAME has released a new comic series</p>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <input type="checkbox" onclick="showPass()">Show Password


                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    </a>
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button  class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>