<!DOCTYPE html>
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>Register</title>

    <link href="page_layout.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="register_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a href="#" class="navLogo"></a>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Register</h1>
            <h3>Enter Your Info Below:</h3>
            <p>(*) mandatory field</p>
            <br>
            <div class="flexContainer flexRow">
                <div class="column-left">
                    <form>
                        *Username: <input type="text" name="Username"><br><br>
                        *Password: <input type="text" name="Password"><br><br>
                        *Email: <input type="text" name="Email"><br><br>
                        First Name: <input type="text" name="First"><br><br>
                        Last Name: <input type="text" name="Last">
                    </form>
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn right-content">
                        <img src="images/icons/default_pro_icon.png" class="upload-icon">
                        <button class="lime-button-solo" style="margin-top: 30px">UPLOAD</button>
                    </div>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>