<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src =js/signIn.js></script>
    <script src =js/search.js></script>
    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/search_main_styles.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}" class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Search</h1>
            <div class="flexContainer flexColumn">
                <form style="margin-top: -30px">
                    <p>Search by:</p>
                    <select id="searchBy" name="searchBy">
                        <option value="keywords">Keywords</option>
                        <option value="tags">Tags</option>
                        <option value="seriestitle">Series Title</option>
                        <option value="username">Username</option>
                    </select>
                </form>
                <br>
                <form><input type="text" id = "searchContents" name="searchContents" placeholder="Enter your search here"></form>
                <button class="lime-button-left" onclick = doSearch() >SEARCH</button>
            </div>

            <br><br>

            <h1>Results</h1>
            <form>
                <p>Sort by:</p>
                <select id="sortBy" name="sortBy">
                    <option value="recent">Recent</option>
                    <option value="popular">Popular</option>
                    <option value="rating-HIGH">Rating-HIGH</option>
                    <option value="rating-LOW">Rating-LOW</option>
                </select>
                <button class="lime-button-left">APPLY</button>
            </form>
            <br><br>
            <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <input type="checkbox" onclick="showPass()">Show Password


                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    </a>
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button  class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>