<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>Search</title>

    <link href="css/page_layout.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link href="css/search_main_styles.css" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" rel="stylesheet">
    <link href="css/modal_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a th:href="@{/currentprof}" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Search</h1>
            <div class="flexContainer flexColumn">
                <form style="margin-top: -30px">
                    <p>Search by:</p>
                    <select id="searchBy" name="searchBy">
                        <option value="keywords">Keywords</option>
                        <option value="tags">Tags</option>
                        <option value="genre">Genre</option>
                        <option value="username">Username</option>
                    </select>
                </form>
                <br>
                <form><input type="text" name="searchContents" placeholder="Enter your search here"></form>
                <button class="lime-button-left">SEARCH</button>

            </div>

            <br><br>

            <h1>Results</h1>
            <form>
                <p>Sort by:</p>
                <select id="sortBy" name="sortBy">
                    <option value="recent">Recent</option>
                    <option value="popular">Popular</option>
                    <option value="rating-HIGH">Rating-HIGH</option>
                    <option value="rating-LOW">Rating-LOW</option>
                </select>
            </form>
            <br><br>
            <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a th:href="@{/issue}"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Username: <input class="input-small" type="text" name="userName"><br><br>
                    Password: <input class="input-small" type="text" name="userName">
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SIGN IN</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>