<!DOCTYPE html>
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>Search</title>

    <link href="page_layout.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="search_main_styles.css" rel="stylesheet">
    <link href="frontPage_main_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a href="#" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a href="#" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a href="#" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a href="#" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1>Search</h1>
            <div class="flexContainer flexColumn">
                <form style="margin-top: -30px">
                    <p>Search by:</p>
                    <select id="searchBy" name="searchBy">
                        <option value="keywords">Keywords</option>
                        <option value="tags">Tags</option>
                        <option value="genre">Genre</option>
                        <option value="username">Username</option>
                    </select>
                </form>
                <br>
                <form><input type="text" name="searchContents" placeholder="Enter your search here"></form>
                <button class="lime-button-left">SEARCH</button>

            </div>

            <br><br>

            <h1>Results</h1>
            <form>
                <p>Sort by:</p>
                <select id="sortBy" name="sortBy">
                    <option value="recent">Recent</option>
                    <option value="popular">Popular</option>
                    <option value="rating-HIGH">Rating-HIGH</option>
                    <option value="rating-LOW">Rating-LOW</option>
                </select>
            </form>
            <br><br>
            <div class="flexContainer flexRow" style="flex-wrap: wrap; justify-content: space-around; align-content: flex-start">
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
                <div class="flexContainer flexColumn issue" style="align-items: center;">
                    <a href="#"><img src="images/EXAMPLE_2.jpg"></a>
                    <p style="font-weight: bold; margin-bottom: 0px;">Issue #</p>
                    <p style="margin-top: 0px; margin-bottom: 30px;">Username</p>
                </div>
            </div>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>