<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${seriesTitle} + ' by ' + ${profileID} + '- ComicSqueeze'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        // <!-- Adds thymeleaf session description as a global variable to be used in external JS files -->
        const curSeriesTags = "[[${currentSeries.getTags()}]]";
        const curSeriesTitle = "[[${currentSeries.getTitle()}]]";
        const curSeriesUser = "[[${currentSeries.getUsername()}]]";
    </script>

    <link href="css/owl_carousel.css" th:href="@{/css/owl_carousel.css}" rel="stylesheet">
    <link href="css/owl_theme_default.css" th:href="@{/css/owl_theme_default.css}" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="js/rateit/jquery.rateit.js" th:src="@{/js/rateit/jquery.rateit.js}"}></script>
    <script src="js/rater.js" th:src="@{/js/rater.js}"></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <script src="js/navBar.js" th:src="@{/js/navBar.js}"></script>
    <script src =js/ownProfile.js th:src="@{/js/ownProfile.js}"></script>
    <script src="js/ownSeries.js" th:src="@{/js/ownSeries.js}"></script>
    <script src="js/rateBar.js" th:src="@{/js/rateBar.js}"></script>
    <script src="js/subscribe.js" th:src="@{/js/subscribe.js}"></script>
    <script src="js/owl_carousel.js" th:src="@{/js/owl_carousel.js}"></script>
    <script src="slick/slick.js" th:src="@{/slick/slick.js}"></script>
    <link href="css/rateit.css" th:href="@{/css/rateit.css}" rel="stylesheet">
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/series_main_styles.css" th:href="@{/css/series_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">
    <link href="slick/slick.css" th:href="@{/slick/slick.css}" rel="stylesheet">
    <link href="slick/slick-theme.css" th:href="@{/slick/slick-theme.css}" rel="stylesheet">
    <link href="css/slick-override.css" th:href="@{/css/slick-override.css}" rel="stylesheet">
    <script src="js/uploadData.js" th:src="@{/js/uploadData.js}"></script>

</head>

<body style="margin: 0px">

<script type="text/javascript" th:if= "${session.curMember?.getCurrentSeries()?.getTitle() !=null}" th:inline="javascript">
    // getting current series and issue that the user is under in heirarchy
    var username = [[${session.curMember.getUsername()}]]
    var currentSeries = [[${session.curMember.getCurrentSeries().getTitle()}]]
</script>

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" th:src="${curMember.getImgUrl()}"class="navUserIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" onclick="notificationsClicked()" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" th:src="@{/images/icons/notification_icon.png}" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" onclick="loginClicked()" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <br>
            <div class="flexContainer flexRow">
                <div class="column-left img">
                    <div th:if="${seriesImg}==null">
                        <div style="background-color: #9a9a9a; height: 480px"></div>
                    </div>
                    <div th:if="${seriesImg}!=null">
                        <img th:src="${seriesImg}" style="size: auto">
                    </div>
                </div>
                <div class="column-right">
                    <div class="flexContainer flexColumn">
                        <h1 style="margin-bottom: 0" th:text="${seriesTitle}"></h1>
                        <a class="subtext" style="margin: 0" th:text ="'by ' + ${profileID}" th:href="@{/viewprofile/{profileID}(profileID=${profileID})}"></a>
                        <div th:if="${currentSeries.isCollaborative()}==true">
                            Collaborators: <p id="curCreators" class="subtext" th:text="${currentSeries.getCreators()}"></p>
                        </div>
                        <div th:if="${session.username != profileID and session.username != null}" class="flexContainer flexRow limes" style="margin-top: 10px;">
                            <div class="rateit limeBar" id="limeBar" th:data-rateit-value="${userRating}" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                        </div>
                        <h3 style="margin: 10px 0 0 0" th:text="'Rating: ' + ${averageRating}"></h3>
                        <h3 style="margin: 10px 0 0 0" th:text="'Followers: ' + ${totalSubscriptions}"></h3>
                    </div>
                </div>
            </div>
            <br><br>
            <!-- <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png" th:src="@{/images/icons/left_arrow_icon.png}"></a> -->
            <div class="horizontal_slick left-align-slick">
                <th:block th:each="issue: ${seriesIssues}">
                    <div class="slickElemIssues">
                        <div class="flexContainer flexColumn" style="align-items: center">
                            <div th:if="${issue.getImgurl()}==null">
                                <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${profileID}, SeriesTitle=${seriesTitle},issueTitle=${issue.getTitle()})}">
                                    <div class="issue-blank"></div>
                                </a>
                            </div>
                            <div th:if="${issue.getImgurl()!=null}">
                                <a th:href="@{/issue/{profileID}/{SeriesTitle}/{issueTitle}(profileID=${profileID}, SeriesTitle=${seriesTitle},issueTitle=${issue.getTitle()})}">
                                    <img  th:src="${issue.getImgurl()}" class="issue">
                                </a>
                            </div>
                                <p th:text="${issue.getTitle()}" style="margin: 0; text-align: center">Issue #</p>
                        </div>
                    </div>
                </th:block>
            </div>
            <!-- <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png" th:src="@{/images/icons/right_arrow_icon.png}"></a> -->
            <h3 style="margin-top: 5px; margin-bottom: 5px">Tags</h3>
            <p id="curTags" class="subtext" th:text="${currentSeries.getTags()}"></p>
            <div class="flexContainer flexRow">
                <!--<a th:if="${session.username == profileID}" class="button-as-link" href="#add-issue-modal-container" data-reveal-id="exampleModal">-->
                    <button th:if="${session.username == profileID}" class="lime-button-left" onclick="addIssueClicked()">ADD ISSUE</button>
                <!--</a>-->
                <div th:if="${session.curMember} != null" >
                    <button th:if="${session.username == profileID} and ${session.curMember.getAdminStatus()} == true" class="lime-button-left" style="margin-left: 20px" onclick="deleteSeries()">DELETE</button>
                    <button th:if="${session.username == profileID} and ${session.curMember.getAdminStatus()} == false" class="lime-button-left" style="margin-left: 20px" onclick="deleteSeries()">DELETE</button>
                    <button th:if="${session.curMember.getAdminStatus()} == true and ${session.username != profileID} " class="red-button-left" style="margin-left: 20px" onclick="deleteSeries()">DELETE</button>
                </div>
                <!--<a th:if="${session.username == profileID}" class="button-as-link" href="#edit-series-modal-container" data-reveal-id="exampleModal" style="margin-left: 20px">-->
                    <button th:if="${session.username == profileID}" class="lime-button-left" style="margin-left: 20px" onclick="editSeriesClicked()">EDIT</button>
                <!--</a>-->
                <a th:if="${session.username == profileID}" class="button-as-link"  style="margin-left: 20px">
                    <a class="lime-button-left" th:href="@{/createseriescover}"> CREATE COVER</a>
                </a>
                <label class="lime-button-left" th:if="${session.username == profileID}" style="cursor: pointer;">
                    <input id ="uploadSeriesCover" type="file" accept="image/*" onChange="uploadSeriesCoverDBCustom(username,currentSeries)">
                    UPLOAD COVER
                </label>
                <button th:if="${session.username != profileID and session.username != null and subscribed == false}" class="lime-button-left" style="margin-left: 20px" onclick="subscribe()">FOLLOW</button>
                <button th:if="${session.username != profileID and session.username != null and subscribed == true}" class="grey-button-left" style="margin-left: 20px" onclick="unsubscribe()">UNFOLLOW</button>
                <button th:if="${session.username != profileID and session.username != null}" class="grey-button-left" style="margin-left: 20px" onclick="flagSeriesClicked()">REPORT</button>
            </div>

            <br>

            <h1>Description</h1>
            <p id="descID" th:text="${currentSeries.getDescription()}" style="white-space: pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <br>

            <div class="flexContainer flexRow" style="align-items: center; margin-bottom: 10px">
                <h1 style="margin-right: 20px; ">Reviews</h1>
                <a th:if="${session.username != profileID and session.username != null}" onclick="writeReviewClicked()" class="page-option" style="cursor: pointer">
                    <img src="images/icons/edit_icon.png" th:src="@{/images/icons/edit_icon.png}">
                </a>
            </div>
            <!--
            <p>Username</p>
            <div class="flexContainer flexRow limes">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_BW_icon.png" th:src="@{/images/icons/lime_BW_icon.png}" class="lime-small">
            </div>
            <p style="white-space: pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                -->
            <th:block th:each="review: ${reviewList}">
                <div class="review">
                    <h4 th:text="${review.getRater()}" style="margin: 0 0 10px 0;"></h4>
                    <div class="rateit limeBar" th:data-rateit-value="${review.getRating()}" data-rateit-readonly="true" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                    <div style="max-height: 200px; overflow: auto; overflow-x: hidden;">
                        <p th:text="${review.getReview()}" style="white-space: pre-wrap; margin: 10px 0 0 0;"></p>
                    </div>
                </div>
            </th:block>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Write Review Popup-->
    <div id="write-review" class="modal-login">
        <div id="write-review-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">
                <form>
                    Write Review: <textarea class="input-large" id="reviewField" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow limes">
                    <div class="rateit limeBar" id="reviewBar" th:data-rateit-value="${userRating}" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
                </div>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left" onclick="rateReview()">SUBMIT</button>
                    </a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick="closeWriteReview()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Write REPORT Popup-->
    <div id="flag" class="modal-login">
        <div id="flag-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">
                <form>
                    Write Report: <textarea class="input-large" id="flagReason" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                    <button class="lime-button-left" onclick="flagSeries()">SUBMIT</button>
                    <!--</a>-->
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button class="grey-button-left" onclick="closeFlagSeries()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Notifications Popup-->
    <div id="notifications" class="modal-notifications">
        <div id="notifications-modal" class="modal-notifications-inner">
            <div class="flexContainer flexRow">
                <button onclick="closeNotifications()" class="modalCloseBtn">X</button>
                <div class="flexContainer flexColumn" style="overflow: scroll; overflow-x: hidden; height: 200px;">
                    <p class="notification-item">USERNAME has released a new comic series</p>
                    <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                    <p class="notification-item">New Follower: USERNAME</p>
                    <p class="notification-item">SeriesName has been flagged.</p>
                    <p class="notification-item">USERNAME has released a new comic series</p>
                </div>
            </div>
        </div>
    </div>

    <!--Add Issue Popup-->
    <div id="add-issue" class="modal">
        <div id="add-issue-modal" class="modal-inner">
            <div class="flexContainer flexColumn">
                <h2 style="margin-top: 0">Add Issue</h2>
                <form id="issueForm">
                    <h4 style="margin-bottom: 0">Issue # - Title:</h4> <input id="issueField" class="input-small" type="text" name="issueNumTitle"><br><br>
                    Description: <textarea id="issueDescField" class="input-large" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left" onclick=createIssue()>ADD</button>
                    </a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick="closeAddIssue()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Edit Series Popup-->
    <div id="edit-series" class="modal">
        <div id="edit-series-modal" class ="modal-inner">
            <div class ="flexContainer flexColumn">
                <h2 style="margin-top: 0">Edit Series:</h2>
                <h3 th:text="${seriesTitle}" style="margin-top: 0"></h3>
                <br>
                Tags: <textarea disabled th:text="${currentSeries.getTags()}" id="seriesTags" class="input-small" style="border: none;"></textarea><br>
                <div class="flexContainer flexRow">
                    <button class="grey-button-left" style="margin: 0" onclick="addTag()">Add Tag</button>
                    <input id="addInput" class="input-small" style="width: fit-content" placeholder="Enter tag name:">
                </div><br>
                <div class="flexContainer flexRow">
                    <button class="grey-button-left" style="margin: 0" onclick="deleteTag()">Delete Tag</button>
                    <input id="deleteInput" class="input-small" style="width: fit-content" placeholder="Enter tag name:">
                </div><br><br>
                <div th:if="${currentSeries.isCollaborative()} == true">
                Collaborators: <textarea disabled th:text="${currentSeries.getCreators()}" id="seriesCreators" class="input-small" style="border: none;"></textarea><br>
                <div class="flexContainer flexRow">
                    <button class="grey-button-left" style="margin: 0" onclick="addCollab()">Add Collaborator</button>
                    <input id="addCollabInput" class="input-small" style="width: fit-content" placeholder="Enter tag name:">
                </div><br>
                <div class="flexContainer flexRow">
                    <button class="grey-button-left" style="margin: 0" onclick="deleteCollab()">Delete Collaborator</button>
                    <input id="deleteCollabInput" class="input-small" style="width: fit-content" placeholder="Enter tag name:">
                </div><br><br>
                </div>
                <form id="editSeriesForm">
                    Description: <textarea th:text="${currentSeries.getDescription()}" id="seriesDescField" class="input-large" type="text" name="Description"></textarea><br><br>
                </form>

                <div class ="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left" onclick=editSeries()>SAVE</button>
                    </a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                        <button class="grey-button-left" onclick=closeEditSeries()>CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="sign-In" class="modal-login">
        <div id="signIn-modal" class="modal-login-inner">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input type="password" id="passWord" class="input-small" name="passWord">
                <div class="flexContainer flexRow">
                    <input type="checkbox" onclick="showPass()" style="padding-right: 5px; width: fit-content;">
                    Show Password
                </div>

                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <!--<a class="button-as-link" style="width: fit-content; margin: 0">-->
                    <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    <!--</a>-->
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <!--<a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">-->
                    <button  class="grey-button-left" onclick="closeLogin()">CLOSE</button>
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>