<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title th:text="${seriesTitle} + ' by ' + ${profileID} + '- ComicSqueeze'"></title>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_4-Dhm35VlOSAcoRktC8dMIC8y8oSuYA",
            authDomain: "comicsqueeze.firebaseapp.com",
            databaseURL: "https://comicsqueeze.firebaseio.com",
            projectId: "comicsqueeze",
            storageBucket: "comicsqueeze.appspot.com",
            messagingSenderId: "213405157042"
        };
        firebase.initializeApp(config);
    </script>
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/series_main_styles.css" th:href="@{/css/series_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img th:if="${session.username}!=null" src="images/icons/default_pro_icon.png" th:src="@{/images/icons/default_pro_icon.png}" class="navIcon" style="border-radius: 50%;">
            <a th:if="${session.username}!=null" th:href="@{/yourprofile}" th:text="${session.username}" class="navButton" style="float: left; margin-left: 15px; display: inline-block"></a>
            <a th:if="${session.username}!=null" href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a th:href="@{/}" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a th:href="@{/search}" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" th:src="@{/images/icons/search_icon.png}" class="navIcon">
            </a>
            <a th:if="${session.username}==null" th:href="@{/register}" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a th:if="${session.username}==null" href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
            <a th:if="${session.username}!=null" class="button-as-link" style="width: fit-content; margin: 0 10px 0 0; float: right;">
                <button class="navButton" id="signOut" style="border-bottom: 0; border-top: 0" onclick="signOut()">LOG OUT</button>
            </a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1 style="margin-bottom: 0" th:text="${seriesTitle}"></h1>
            <a class="subtext" style="margin: 0" th:text ="'by ' + ${profileID}" th:href="@{/viewprofile/{profileID}(profileID=${profileID})}"></a>
            <div class="flexContainer flexRow limes">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime">
                <img src="images/icons/lime_BW_icon.png" th:src="@{/images/icons/lime_BW_icon.png}" class="lime">
            </div>
            <br>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png" th:src="@{/images/icons/left_arrow_icon.png}"></a>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/series/{profileID}/{seriesTitle}/{issueTitle}(profileID=${profileID}, seriesTitle=${seriesTitle}, issueTitle='Issue 1')}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/example_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue 1</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/series/{profileID}/{seriesTitle}/{issueTitle}(profileID=${profileID}, seriesTitle=${seriesTitle}, issueTitle='Issue 2')}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/example_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue 2</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/series/{profileID}/{seriesTitle}/{issueTitle}(profileID=${profileID}, seriesTitle=${seriesTitle}, issueTitle='Issue 3')}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/example_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue 3</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a th:href="@{/series/{profileID}/{seriesTitle}/{issueTitle}(profileID=${profileID}, seriesTitle=${seriesTitle}, issueTitle='Issue 4')}"><img src="images/EXAMPLE_2.jpg" th:src="@{/images/example_2.jpg}" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue 4</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png" th:src="@{/images/icons/right_arrow_icon.png}"></a>
            </div>
            <h3 style="margin-top: 5px; margin-bottom: 5px">Tags</h3>
            <p class="subtext">#action, #funny, #long, #horror</p>
            <div class="flexContainer flexRow">
                <a class="button-as-link" href="#add-issue-modal-container" data-reveal-id="exampleModal">
                    <button class="lime-button-left">ADD ISSUE</button>
                </a>
                <button class="lime-button-left" style="margin-left: 20px">DELETE</button>
            </div>

            <br>

            <h1>Description</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <br>

            <h1>Reviews</h1>
            <p>Username</p>
            <div class="flexContainer flexRow limes">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" th:src="@{/images/icons/lime_COLOR_icon.png}" class="lime-small">
                <img src="images/icons/lime_BW_icon.png" th:src="@{/images/icons/lime_BW_icon.png}" class="lime-small">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Add Issue Popup-->
    <div id="add-issue-modal-container">
        <div id="add-issue-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <h2 style="margin-top: 0">Add Issue</h2>
                <form>
                    <h4>Issue # - Title:</h4> <input class="input-small" type="text" name="issueNumTitle"><br><br>
                    Description: <textarea class="input-large" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">ADD</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">

                Email: <input id = "email"class="input-small" type="text" name="email"><br><br>
                <label id ="passLbl">Password:</label> <input id = "passWord" class="input-small" type="text" name="passWord">


                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button id = "signIn" onclick="signIn()"  class="lime-button-left">SIGN IN</button>
                    </a>
                    <a id ="forgot" href="javascript:forgotPassword();">Forgot Password?</a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button  class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>