<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<link>

    <meta charset="UTF-8">
    <title>SeriesPage</title>

    <link href="page_layout.css" rel="stylesheet">
    <link href="buttons.css" rel="stylesheet">
    <link href="frontPage_main_styles.css" rel="stylesheet">
    <link href="series_main_styles.css" rel="stylesheet">
    <link href="modal_styles.css" rel="stylesheet">

</head>

<body style="margin: 0px">

<div class="flexContainer flexColumn fullHeight whiteBackground">
    <nav class="navBar darkGreyBackground">
        <a style="float: left; padding-left: 17%; display: inline-block">
            <img src="images/icons/default_pro_icon.png" class="navIcon" style="border-radius: 50%;">
            <a href="CurrentUserProfile.html" class="navButton" style="float: left; margin-left: 15px; display: inline-block">USERNAME</a>
            <a href="#notifications-modal-container" data-reveal-id="exampleModal" class="navButton" style="float: left; display: inline-block">
                <img src="images/icons/notification_icon.png" class="navIcon">
            </a>
        </a>
        <a href="FrontPage.html" class="navLogo"></a>
        <div style="float: right; padding-right: 17%;">
            <a href="Search.html" style="float: right; display: inline-block">
                <img src="images/icons/search_icon.png" class="navIcon">
            </a>
            <a href="Register.html" class="navButton" style="float: right; margin-right: 10px">REGISTER</a>
            <a href="#signIn-modal-container" data-reveal-id="signIn-modal" class="navButton" style="float: right;">SIGN IN</a>
        </div>
    </nav>

    <div class="flexContainer flexItem">

        <main class="flexItem whiteBackground main">
            <h1 style="margin-bottom: 0">Series Name</h1>
            <h2 class="subtext" style="margin: 0">By Username</h2>
            <div class="flexContainer flexRow limes">
                <img src="images/icons/lime_COLOR_icon.png" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" class="lime">
                <img src="images/icons/lime_COLOR_icon.png" class="lime">
                <img src="images/icons/lime_BW_icon.png" class="lime">
            </div>
            <br>
            <div class="flexContainer flexRow series">
                <a href="#" class="arrow"><img src="images/icons/left_arrow_icon.png"></a>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <div class="flexContainer flexColumn">
                    <a href="IssuePage.html"><img src="images/EXAMPLE_2.jpg" class="issue"></a>
                    <p style="margin: -5px; text-align: center">Issue #</p>
                </div>
                <a href="#" class="arrow"><img src="images/icons/right_arrow_icon.png"></a>
            </div>
            <h3 style="margin-top: 5px; margin-bottom: 5px">Tags</h3>
            <p class="subtext">#action, #funny, #long, #horror</p>
            <div class="flexContainer flexRow">
                <a class="button-as-link" href="#add-issue-modal-container" data-reveal-id="exampleModal">
                    <button class="lime-button-left">ADD ISSUE</button>
                </a>
                <button class="lime-button-left" style="margin-left: 20px">DELETE</button>
            </div>

            <br>

            <h1>Description</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <br>

            <h1>Reviews</h1>
            <p>Username</p>
            <div class="flexContainer flexRow limes">
                <img src="images/icons/lime_COLOR_icon.png" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" class="lime-small">
                <img src="images/icons/lime_COLOR_icon.png" class="lime-small">
                <img src="images/icons/lime_BW_icon.png" class="lime-small">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <br><br><br>

        </main>

        <aside class="sidebar sidebarLeft"></aside>
        <aside class="sidebar sidebarRight"></aside>

    </div>

    <!--Notifications Popup-->
    <div id="notifications-modal-container">
        <div id="notifications-modal" class="reveal-modal-notifications">
            <div class="flexContainer flexColumn">
                <p class="notification-item">USERNAME has released a new comic series</p>
                <p class="notification-item">USERNAME has written a review for your series: SERIES NAME</p>
                <p class="notification-item">New Follower: USERNAME</p>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a href="#" class="button-as-link close-reveal-modal notification-item" style="border: none; margin: 0;">
                        <button class="grey-button-left" style="margin: 0;">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Add Issue Popup-->
    <div id="add-issue-modal-container">
        <div id="add-issue-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <h2 style="margin-top: 0">Add Issue</h2>
                <form>
                    <h4>Issue # - Title:</h4> <input class="input-small" type="text" name="issueNumTitle"><br><br>
                    Description: <textarea class="input-large" type="text" name="Description"></textarea><br><br>
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">ADD</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Sign In Popup-->
    <div id="signIn-modal-container">
        <div id="signIn-modal" class="reveal-modal">
            <div class="flexContainer flexColumn">
                <form>
                    Username: <input class="input-small" type="text" name="userName"><br><br>
                    Password: <input class="input-small" type="text" name="userName">
                </form>
                <div class="flexContainer flexRow" style="justify-content: space-between; margin-top: 10px">
                    <a class="button-as-link" style="width: fit-content; margin: 0">
                        <button class="lime-button-left">SIGN IN</button>
                    </a>
                    <a href="#" class="button-as-link close-reveal-modal" style="width: fit-content; margin: 0">
                        <button class="grey-button-left">CLOSE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer darkGreyBackground">Copyright &copy; Debugging Enterprises</footer>

</div>

</body>

</html>