<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/owl_carousel.css" th:href="@{/css/owl_carousel.css}" rel="stylesheet">
    <link href="css/owl_theme_default.css" th:href="@{/css/owl_theme_default.css}" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <script src="js/bootstrap-checkbox.js" th:src="@{/js/bootstrap-checkbox.js}" defer></script>
    <script src="js/signIn.js" th:src="@{/js/signIn.js}"></script>
    <script src="js/ownIssue.js" th:src="@{/js/ownIssue.js}"></script>
    <script src="js/owl_carousel.js" th:src="@{/js/owl_carousel.js}"></script>
    <script src="js/lightbox.js" th:src="@{/js/lightbox.js}"></script>
    <script src="slick/slick.js" th:src="@{/slick/slick.js}"></script>
    <link href="css/page_layout.css" th:href="@{/css/page_layout.css}" rel="stylesheet">
    <link href="css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet">
    <link href="css/frontPage_main_styles.css" th:href="@{/css/frontPage_main_styles.css}" rel="stylesheet">
    <link href="css/issue_main_styles.css" th:href="@{/css/issue_main_styles.css}" rel="stylesheet">
    <link href="css/modal_styles.css" th:href="@{/css/modal_styles.css}" rel="stylesheet">
    <script src="js/editPage.js" th:src="@{/js/editPage.js}"></script>
    <link href="css/lightbox.css" th:href="@{/css/lightbox.css}" rel="stylesheet">
    <script src="js/editPage.js" th:src="@{/js/editPage.js}"></script>
    <script src="js/uploadData.js" th:src="@{/js/uploadData.js}"></script>
    <link  href="css/lightbox.css"  th:href="@{/css/lightbox.css}" rel="stylesheet">
    <link href="slick/slick.css" th:href="@{/slick/slick.css}" rel="stylesheet">
    <link href="slick/slick-theme.css" th:href="@{/slick/slick-theme.css}" rel="stylesheet">
    <link href="css/slick-override.css" th:href="@{/css/slick-override.css}" rel="stylesheet">
</head>
<body>
<div class="horizontal_slick left-align-slick">
    <th:block th:each="page: ${pages}">

                <a th:href="${page.getImgurl()}" data-lightbox="test" class="issue-page"><img th:src="${page.getImgurl()}"></a>

    </th:block>
</div>

</body>
</html>